body{
	overflow-x:hidden;
	background:#ecf0f1;
}
.header{
	padding-top:5px;
	padding-left:20px;
	background:#ecf0f1;
	border:1px solid #cfcfcf;
}
.search{
	margin-top:20px;
}
.logo{
	text-align:center;
	margin:0 auto;
	border-radius:5px;
}
.logo a{
	font-size:40px;
	color:#000;
	font-weight:bold;
}
.logo a:hover{
	color:;
	text-decoration: none;
}
.badge{
	background:#2980b9 !important;
}
.circle{
	border:1px solid #999;
	border-radius:50%;
	width:60px;
	height:60px;
	text-align:center;
}
.circle:hover{
	background:#f2f2f2	;
}
.circle a{
	color:#000;
	font-size:0.8em;
}
.user-icon{
	font-size:33px;
	padding-top:4px;
}
.navbutton{
	margin:0 auto;
		margin-top:17px;
}

 .dropdown{
	display:none;
}
.user:hover ~  .dropdown{
	display:block;
}
.dropdown li{
	display:block;
	width:250px;
}
.dropdown:hover{
	display:block;
}
.circle ul li:hover{
	display:block;
}
.circle ul{
    padding: 10px;
    list-style: none;
    background: #f2f2f2;
    border:1px solid #cfcfcf;
    width:80px;
    position:relative;
    bottom:3px;
    margin-right:5px;
}
.circle ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
/*---- N E W S    F E E D ----*/
/*----------------------------*/

.feed{
padding-top:5px;
background:#ecf0f1;
}
.likeStuff{
	border-top:1px solid #95a5a6;
}
.itemBox{
	background:#FFF;
	border:1px solid #cfcfcf;
}
.eventTitle{
	color:#2980b9;
}
.feed img{
	width:100%;
}
.userText h3{
	font-size:1.3em;
	position:relative;
	top:10px;
	float:right;
}
footer{
	background:#ecf0f1;
	text-align:center;
	padding-top:50px;
}

.padding{
	padding: 30px;
}}

/*---- E V E N T S    F E E D ----*/
/*--------------------------------*/

.events {
	padding-top: 20px;
}

.events-list {
	margin-top:20px;
	margin-bottom:10px;
	background:#f2f2f2;
	border-top:1px solid #cfcfcf;
	border-bottom:1px solid #cfcfcf;
	padding:10px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.events-list .image{
	display:inline;
	width:20%;
	border: 1px solid #000000;
	margin-left:10px;
	position: relative;
	float:left;
	border:0;
}
.events-list .image img{
	width:100%;
	height:30%;
}
.events-list .image h5{
	background:rgba(0,0,0,1);
	color:white;
	width:100%;
	font-size:20px;
	position:relative;
	bottom:100px;
	margin-left:10px;
	padding:10px;
}

.events-list img{
	border: 1px solid #000000;
	margin-left:10px;
	position: relative;
}

.events-list h4{
	margin-left:10px;
	margin-top:5px;
}
.addEventForm{
	margin-top:20px;
}
.addEventForm input, .addEventForm textarea, 
.addEventForm button, .addEventForm select{
	margin-top:5px;
}
.addEvent .eventDesc{
	height:200px;
}
.addEvent .addEventButton{

}
.addEvent select option{
	min-height:120px;
}

/*------- E V E N T_PAGE ---------*/
/*--------------------------------*/

.eventPageContainer{
	background:#FFF;
	border:1px solid #cfcfcf;
	margin-top: 10px;
	background:#ecf0f1;
}

.eventPageTitle{
	Font-size:46px;

}

.eventPageImg img{
	width: 100%;
	padding: 15px;
	padding-bottom: 0px;
}

.eventPageDate{
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}

.eventPageWhen{
	margin-top: -15px;
	margin-bottom: 15px;
}

.eventPageDesc{
	padding-bottom: 25px;
}

/*------- E V E N T_POSTS ---------*/
/*--------------------------------*/

.eventPostImg img{
	width: 100%;
	margin-top: 10px;
	max-height: 350px;
	border:1px solid #cfcfcf;
}

.eventPostContainer{
	background:#FFF;
	border:1px solid #cfcfcf;
	margin-top: 10px;
	background:#ecf0f1;
	min-height: 400px;
	max-height: 450px;
	padding-left: 12px;
	padding-right:12px;
	padding-bottom: 69px;


}
#eventNameMessage p,#eventDescMessage p{
	color:red;
}
.successMessage{
	text-align:center;
	margin:0 auto;
	color:green;
}
.image button{
	background:none;
	border:0;
}

/*------- L O G I N FORM ---------*/
/*--------------------------------*/

#login{
    margin-top:20px;
}