.mdl-layout__header {
    background-color:#4165EB;
}

.mdl-layout__header-row {
    padding:30px;
}

.mdl-navigation__link {
    height:93%;
    border-bottom:4px solid #4165EB;
}

.mdl-navigation__link {
    font-weight: 700;
    font-size:14px;
    color:#90A5F4 !important;
}

.mdl-navigation__link:hover {
    border-bottom:4px solid #FFBF2E;
    color:white !important;
}

.mdl-navigation__link.current {
    border-bottom:4px solid #FFBF2E;
    color:white !important;
}

#login_panel {
    width:305px;
}

#login_panel input {
    width:100px;
    display:inline-block;
    margin-right:10px;
    margin-top:15px;
    color:#BCCAFB;
}

#login_panel button {
    height:30px;
    line-height: 0px;
    background-color:#FFB714;
}

#reg {
    height:30px;
    line-height: 0px;
    background-color:#FFB714;
    margin-bottom:2px;
    margin-right:10px;
}

.mdl-textfield--expandable {
    margin-top:15px;
    display:inline-block;
}

.mdl-textfield__expandable-holder input {
    color:#BCCAFB;
}

::-webkit-input-placeholder {
    color: #90A5F4;
}

body {
    background-color:#f5f5f5;
}

.mdl-card__title {
    z-index:1;
}

.mdl-layout__content {
    width:100%;
    height:100%
}

.demo-card-wide {
    margin-top:15px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.mdl-card__supporting-text {
    width:96%;
}

main img {
    height:60%;
}
main .material-icons {
    float: left;
    margin-right:5px;
}

main h5 {
    margin-bottom:5px;
    margin-top:35px;
}

main h6 {
    margin:0;
    padding:0;
    float:left;
}

#comment {
    float:right;
}

#social {
    padding-bottom:5px;
    padding-top:5px;
}

footer p {
    text-align: center;
    padding-top:15px;
    color:#cbcbcb;
}

#myevents{
    text-align:center;
}

.demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
    margin-top:15px;
    display:inline-block;
}

.demo-card-image.mdl-card img {
    width:100%;
    height:100%;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.3);
    text-align:left;
    position:absolute;
    top:204px;
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
